extends layout

block content
    span(id="section-title")= title
    if errors
        for error in errors
            span(id="error-message") #{error.msg}
    div(id="new-post-form-container")
        form(action="/new-post", method="POST")
            div(id="label-input-pair")
                label(for="title") Enter title
                input(name="title" placeholder="Enter title" type="text")
            div(id="label-input-pair")
                label(for="content") Enter content
                textarea(name="content" placeholder="Enter content" type="text")
            button Submit