html(lang="en")
head
    meta(charset="UTF-8")
    title 
body 
    span= title
    form(action="/new-message", method="POST")
        label(for="title") Enter title
        input(name="title" placeholder="Enter title" type="text")
        label(for="message") Enter message
        input(name="message" placeholder="Enter message" type="text")
        button Send Message
    a(href="/sign-up") Sign Up
    if errors
        for error in errors
            span #{error.msg}