extends layout 

block content
    span(id="section-title")= title
    if message != ""
        span(id="error-message")= message
    div(id="form-container")
        if(currentUser)
            span(id="already-logged-in") You are already logged in.
        else
            form(action="/login", method="POST")
                div(id="label-input-pair")
                    label(for="username") Username
                    input(name="username" placeholder="Username" type="text")
                div(id="label-input-pair")
                    label(for="password") Password
                    input(name="password" placeholder="Password" type="password")
                button Sign In
                span(id="content") Don't have an account? 
                    a(href="/sign-up") Sign Up
    