extends layout 

block content
    span= title
    if(currentUser)
        span You are already logged in.
    else
        form(action="/login", method="POST")
            label(for="username") Username
            input(name="username" placeholder="Enter username" type="text")
            label(for="password") Password
            input(name="password" placeholder="Enter password" type="password")
            button Sign In
        span Don't have an account? 
        a(href="/sign-up") Sign Up

    if message
        span= message
    