html(lang="en")
head
    meta(charset="UTF-8")
    title 
body 
    span= title
    form(action="", method="POST")
        label(for="first_name") First Name 
        input(name="first_name" placeholder="Enter first name" type="text")
        label(for="last_name") Last Name
        input(name="last_name" placeholder="Enter last name" type="text")
        label(for="username") Username
        input(name="username" placeholder="Enter username" type="text")
        label(for="password") Password
        input(name="password" placeholder="Doe" type="password")
        button Sign Up
